
.bg_blue{
    background-color: rgba(44,62,80,255);
}

.navbar-nav{
    flex-grow: 0;
    margin-left: auto    
}

.bg_lightgreen{
    background-color: rgba(26,188,156,255);
}

.footer_bg{
    background-color: rgba(44,62,80,255);
}


.text_lightgreen{
    color: rgba(26,188,156,255);
}

.bg_dark-blue{
    background-color: rgba(58,84,109,255);
}

.fb{
    width: 13px;
    fill: white;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.li{
    width: 18px;
    fill: white;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.linea{
    height: 3px;
    background-color: white;
    width: 30%;
}

.copyright{
    width: 16px;
    fill: white;
}

.border_bottom{
    border: 0;
    border-bottom: 1px solid lightgray;
}

input::placeholder,
textarea::placeholder{
    color: lightgray !important;
    font-style: italic;
}






