
.bg_blue{
    background-color: rgba(44,62,80,255);
}

.navbar-nav{
    flex-grow: 0;
    margin-left: auto    
}

.bg_lightgreen{
    background-color: rgba(26,188,156,255);
}

.bg_dark-blue{
    background-color: rgba(58,84,109,255);
}